<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="medical.Properties.Settings.MALADES4ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MALADES4.accdb"
            providerName="System.Data.OleDb" />
        <add name="medical.Properties.Settings.appointmentConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\appointment.accdb"
            providerName="System.Data.OleDb" />
        <add name="medical.Properties.Settings.LogsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Logs.accdb"
            providerName="System.Data.OleDb" />
        <add name="medical.Properties.Settings.PARAMETRESConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PARAMETRES.accdb"
            providerName="System.Data.OleDb" />
        <add name="medical.Properties.Settings.utulisateurConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\utulisateur.accdb"
            providerName="System.Data.OleDb" />
        <add name="medical.Properties.Settings.MALADES4ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\MALADES4.accdb"
            providerName="System.Data.OleDb" />
        <add name="medical.Properties.Settings.utulisateurConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\utulisateur.accdb"
            providerName="System.Data.OleDb" />
        <add name="medical.Properties.Settings.PARAMETRESConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\PARAMETRES.accdb"
            providerName="System.Data.OleDb" />
        <add name="medical.Properties.Settings.appointmentConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\appointment.accdb"
            providerName="System.Data.OleDb" />
        <add name="medical.Properties.Settings.LogsConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Logs.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>